rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidId(id) { 
      return id is string && id.size() <= 128 && id.matches('^[a-zA-Z0-9_\\-]+$'); 
    }
    
    function incoming() { return request.resource.data; }
    function existing() { return resource.data; }
    function isSignedIn() { return request.auth != null; }

    // User Collection Rules
    match /users/{userId} {
      
      // Settings subcollection
      match /settings/{settingId} {
        allow get: if isSignedIn() && request.auth.uid == userId;
        allow list: if false; // only get is needed for settings
        allow write: if isSignedIn() && request.auth.uid == userId;
      }

      // Logs subcollection
      match /logs/{logId} {
        
        function isValidLogFieldTypes(data) {
           return data.userId is string && data.userId.size() <= 128 
               && data.id is string && data.id.size() <= 128
               && data.date is string && data.date.size() <= 20
               && data.startTime is string && data.startTime.size() <= 10
               && data.endTime is string && data.endTime.size() <= 10
               && (data.breakMinutes is string || data.breakMinutes is number)
               && (data.totalHours is number)
               && (data.keys().hasAny(['overtimeHours']) ? (data.overtimeHours is number) : true);
        }

        // Must specify userId correctly and it must be the requesting user's ID.
        function isValidLogData(data) {
            return isValidLogFieldTypes(data) && data.userId == request.auth.uid && data.userId == userId;
        }
        
        allow get: if isSignedIn() && request.auth.uid == userId && existing().userId == request.auth.uid;
        
        allow list: if isSignedIn() && request.auth.uid == userId;
        
        allow create: if isSignedIn() && request.auth.uid == userId
                      && isValidId(logId) 
                      && isValidLogData(incoming());
                      
        allow update: if isSignedIn() && request.auth.uid == userId
                      && existing().userId == request.auth.uid
                      && isValidLogData(incoming());
                      
        allow delete: if isSignedIn() && request.auth.uid == userId 
                      && existing().userId == request.auth.uid;
      }
    }
  }
}
